* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
$primary: #BAD9B5;
$secondary: #EFF7CF;
$danger: #732C2C;
$success: #2C732C;
$grey: #737973;
.header {
	display: flex;
	padding: 1rem 2rem;
	width: 100%;
	&--primary {
		background-color: $primary;
	}
	&--secondary {
		background-color: $secondary;
	}
}

.header__component {
	flex: 1;
	&--last {
		text-align: right;
	}
}

.btn {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 300px;
	color: black;
	font-weight: bold;
	padding: .40rem .75rem;
	text-decoration: none;
	&--success {
		background-color: $success;
		border: none;
		color: white;
	}
	&--danger {
		background-color: $danger;
		border: none;
		color: white;
	}
}

.scroll--container {
	box-shadow: 0 0 5px $grey;
	margin: 1rem 0;
	overflow-x: scroll;
	padding: 1.5rem 0;
	white-space: nowrap;
}

.scroll--item {
	border: 2px solid black;
	border-radius: 300px;
	display: inline;
	margin: 0 .5rem;
	padding: .25rem .5rem;
	a {
		color: black;
		text-decoration: none;
	}
}

.container--form {
	width: 100%;
}

.body--form {
	background-color: $primary;
}

.form {
	background-color: $secondary;
	box-shadow: 0 0 5px $grey;
	margin: auto;
	margin-top: 2rem;
	text-align: center;
	width: 90%;
	&__label {
		display: block;
		margin: 1rem 1rem .5rem;
		text-align: left;
	}
	&__input {
		margin: 0 1rem;
		padding: .25rem .5rem;
		width: calc(100% - 2rem);
	}
	&__textarea {
		height: 5rem;
		margin: 0 1rem;
		resize: vertical;
		width: calc(100% - 2rem);
	}
	&__file {
		margin: 0 1rem;
		text-align: left;
		width: calc(100% - 2rem);
	}
	&__btn {
		display: inline-block;
		margin: .5rem 1rem;
		width: calc(100% - 2rem);
		&Container {
			margin-top: .5rem;
		}
	}
	&__title {
		padding: 1rem 0 .2rem;
		text-transform: capitalize;
	}
	&__link {
		border-bottom: 2px solid $danger;
		color: $danger;
		font-weight: bold;
		text-decoration: none;
		&Container {
			padding: 1rem 0;
		}
	}
}

footer {
	background-color: $primary;
	bottom: 0;
	text-align: center;
	p {
		padding: .5rem 0;
	}
}
