* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
$primary: #BAD9B5;
$secondary: #EFF7CF;
$danger: #732C2C;
$success: #2C732C;
$grey: #737973;

.product--container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
	width: 100%;

	gap: 1rem;
	@media (min-width: 605px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (min-width: 920px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.product__card {
	box-shadow: 0 0 5px $grey;
	padding: .8rem;
	width: 100%;

	grid-column: span 1;
	justify-self: center;
}

.product__image {
	background-position: center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	&:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}

.product__link {
	color: black;
	text-decoration: none;
}

.product__title {
	padding: .8rem 0;
}

.app__container {
	padding-top: 6rem;
}

.app__title {
	display: inline-block;
	margin-top: .85rem;
	text-align: center;
	width: 100%;
}

.header {
	display: flex;
	height: fit-content;
	padding: 1rem 2rem;
	position: fixed;
	width: 100%;
	z-index: 10;
	&--primary {
		background-color: $primary;
	}
	&--secondary {
		background-color: $secondary;
		top: 3rem;
	}
}

.search--container {
	margin: auto;
	width: 90%;
}

.search__label {
	display: block;
	margin-bottom: .5rem;
}

.search__input {
	padding: .25rem .5rem;
	width: 100%;
}

.header__component {
	flex: 1;
	&--last {
		text-align: right;
	}
}

.btn {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 300px;
	color: black;
	font-weight: bold;
	padding: .40rem .75rem;
	text-decoration: none;
	&--success {
		background-color: $success;
		border: none;
		color: white;
	}
	&--danger {
		background-color: $danger;
		border: none;
		color: white;
	}
}

.scroll--container {
	box-shadow: 0 0 5px $grey;
	margin: 1rem 0;
	position: relative;

	&__title {
		display: inline-block;
		left: 0;
		margin: 1rem .5rem;
	}
	&__list {
		overflow-x: scroll;
		padding: .5rem 0 1.5rem;
		white-space: nowrap;
	}
}

.scroll--item {
	border: 2px solid black;
	border-radius: 300px;
	display: inline;
	margin: 0 .5rem;
	padding: .25rem .5rem;
	a {
		color: black;
		text-decoration: none;
	}
}

.container--form {
	width: 100%;
}

.body--form {
	background-color: $primary;
}

.form {
	background-color: $secondary;
	box-shadow: 0 0 5px $grey;
	margin: auto;
	margin-top: 2rem;
	text-align: center;
	width: 90%;
	&__label {
		display: block;
		margin: 1rem 1rem .5rem;
		text-align: left;
	}
	&__input {
		margin: 0 1rem;
		padding: .25rem .5rem;
		width: calc(100% - 2rem);
	}
	&__textarea {
		height: 5rem;
		margin: 0 1rem;
		padding: .25rem .5rem;
		resize: vertical;
		width: calc(100% - 2rem);
	}
	&__file {
		margin: 0 1rem;
		text-align: left;
		width: calc(100% - 2rem);
	}
	&__btn {
		display: inline-block;
		margin: .5rem 1rem;
		width: calc(100% - 2rem);
		&Container {
			margin-top: .5rem;
		}
	}
	&__title {
		padding: 1rem 0 .2rem;
		text-transform: capitalize;
	}
	&__link {
		border-bottom: 2px solid $danger;
		color: $danger;
		font-weight: bold;
		text-decoration: none;
		&Container {
			padding: 1rem 0;
		}
	}
}

.detail {
	&__images {
		height: 30vh;
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 1rem;
		white-space: nowrap;
	}
	&__image {
		height: 100%;
		width: auto;
		&--container {
			background-color: white;
			box-shadow: 0 0 5px $grey;
			display: inline-block;
			height: 100%;
			margin: 0 .5rem;
			transition: .5s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__block {
		padding: 1rem calc(2.5% + 1rem);
		position: relative;
		&::after {
			background-color: $grey;
			content: '';
			display: inline-block;
			height: 2px;
			left: 2.5%;
			position: absolute;
			top: 0;
			width: 95%;
		}
		&--seller {
			align-items: center;
			display: flex;
			margin-top: 1rem;

			gap: 1rem;
		}
	}
	&__info {
		box-shadow: 0 0 5px $grey;
		margin-bottom: .5rem;
		padding: .5rem;
		width: 100%;
	}
	&__label {
		margin: .5rem 0;
	}
	&__delete {
		padding: .5rem;
		text-align: center;
		width: 100%;
	}
}

.favourite {
	margin: 1rem 0;
	text-align: center;
	width: 100%;
}



footer {
	background-color: $primary;
	bottom: 0;
	text-align: center;
	p {
		padding: .5rem 0;
	}
}
