* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}
@media (min-width: 605px) {
  .product--container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 920px) {
  .product--container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product__card {
  box-shadow: 0 0 5px #737973;
  padding: 0.8rem;
  width: 100%;
  grid-column: span 1;
  justify-self: center;
}

.product__image {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.product__image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.product__link {
  color: black;
  text-decoration: none;
}

.product__title {
  padding: 0.8rem 0;
}

.app__container {
  padding-top: 6rem;
}

.app__title {
  display: inline-block;
  margin-top: 0.85rem;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header--primary {
  background-color: #BAD9B5;
}
.header--secondary {
  background-color: #EFF7CF;
  top: 3rem;
}

.search--container {
  margin: auto;
  width: 90%;
}

.search__label {
  display: block;
  margin-bottom: 0.5rem;
}

.search__input {
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.header__component {
  flex: 1;
}
.header__component--last {
  text-align: right;
}

.btn--container {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 300px;
  color: black;
  font-weight: bold;
  padding: 0.4rem 0.75rem;
  text-decoration: none;
}
.btn--success {
  background-color: #2C732C;
  border: none;
  color: white;
}
.btn--danger {
  background-color: #732C2C;
  border: none;
  color: white;
}

.scroll--container {
  box-shadow: 0 0 5px #737973;
  margin: 1rem 0;
  position: relative;
}
.scroll--container__title {
  display: inline-block;
  left: 0;
  margin: 1rem 0.5rem;
}
.scroll--container__list {
  overflow-x: scroll;
  padding: 0.5rem 0 1.5rem;
  white-space: nowrap;
}

.scroll--item {
  border: 2px solid black;
  border-radius: 300px;
  display: inline;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
}
.scroll--item a {
  color: black;
  text-decoration: none;
}

.container--form {
  width: 100%;
}

.body--form {
  background-color: #BAD9B5;
}

.form {
  background-color: #EFF7CF;
  box-shadow: 0 0 5px #737973;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  width: 90%;
}
.form__label {
  display: block;
  margin: 1rem 1rem 0.5rem;
  text-align: left;
}
.form__input {
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 2rem);
}
.form__textarea {
  height: 5rem;
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  resize: vertical;
  width: calc(100% - 2rem);
}
.form__file {
  margin: 0 1rem;
  text-align: left;
  width: calc(100% - 2rem);
}
.form__btn {
  display: inline-block;
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
}
.form__btnContainer {
  margin-top: 0.5rem;
}
.form__title {
  padding: 1rem 0 0.2rem;
  text-transform: capitalize;
}
.form__link {
  border-bottom: 2px solid #732C2C;
  color: #732C2C;
  font-weight: bold;
  text-decoration: none;
}
.form__linkContainer {
  padding: 1rem 0;
}

.detail__images {
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem;
  white-space: nowrap;
}
.detail__image {
  height: 100%;
  width: auto;
}
.detail__image--container {
  background-color: white;
  box-shadow: 0 0 5px #737973;
  display: inline-block;
  height: 100%;
  margin: 0 0.5rem;
  transition: 0.5s;
}
.detail__image--container:hover {
  transform: scale(1.1);
}
.detail__block {
  padding: 1rem calc(2.5% + 1rem);
  position: relative;
}
.detail__block::after {
  background-color: #737973;
  content: "";
  display: inline-block;
  height: 2px;
  left: 2.5%;
  position: absolute;
  top: 0;
  width: 95%;
}
.detail__block--seller {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.detail__info {
  box-shadow: 0 0 5px #737973;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
.detail__label {
  margin: 0.5rem 0;
}
.detail__delete {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.favourite {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

footer {
  background-color: #BAD9B5;
  bottom: 0;
  text-align: center;
}
footer p {
  padding: 0.5rem 0;
}
